<h3>[mc] <%= link_to "Log in or sign up to contribute", controller: :users, action: :index %></h3>

<h4>Front Page Posts</h4>
<% @posts.each do |post| %>
  <div>
    <%= link_to post.title, post %>
  </div>
<% end %>
